<div class="container">
  <h3>
    <img width="30" alt="Job Details" src="assets/images/jobdetail.png" />
    &nbsp;Add Job
  </h3>
  <p>
  <alert></alert>
  </p>
  <hr />


 <div class="form-group">
    <label>Job Title</label>
    <input
      type="text"
      [(ngModel)]="jobs.jobTitle"
      name="jobTitle"
      class="form-control"
      id=""
      #name="ngModel"

    />


  </div>
  

  <label>Tags
  </label>
  <div class="form-group input-group ">

    <input type="text" 
    [(ngModel)]="jobs.Tags"
    name="tags"
    class="form-control" >
    <button (click)="generateTag(jobs.jobTitle)" class="btn btn-outline-primary" type="button" id="button-addon2" data-toggle="tooltip" data-placement="top" title="Generate tags based on Job Title">Generate</button>
  </div>

  <!-- <span class="badge badge-pill bg-primary">Primary</span>
  <span class="badge badge-pill bg-secondary">Secondary</span>
  <span class="badge badge-pill bg-success">Success</span>
  <span class="badge badge-pill bg-danger">Danger</span>
  <span class="badge badge-pill bg-warning">Warning</span>
  <span class="badge badge-pill bg-info">Info</span>
  <span class="badge badge-pill bg-light">Light</span>
  <span class="badge badge-pill bg-dark">Dark</span> -->


  <br/>
  <div class="form-group">
    <label for="location">Location</label>
    <input
    type="text"
    [(ngModel)]="jobs.Location"
    name="location"
    class="form-control"
    id="location"
    #name="ngModel"

    />
  </div>


  <br/>
  <div class="form-group">
    <label for="beneifts">Benefits</label>
    <textarea
      [(ngModel)]="jobs.Benefits"
      name="benefits"
      class="form-control"
      rows="2"
      cols="60"
      id="benefits"

    ></textarea>
<br/>
    <div class="form-group">
      <label for="description">Job Description</label>
      <textarea
        [(ngModel)]="jobs.Description"
        name="description"
        class="form-control"
        rows="5"
        cols="60"
        id="description"

      ></textarea>
      <button class="btn btn-outline-primary" type="button" id="button-addon3" data-toggle="tooltip" data-placement="top" title="Generate tags based on Tag">Generate</button>
    <br><br>
      <button class="btn btn-outline-primary" type="button" id="button-addon4" data-toggle="tooltip" data-placement="top" title="Generate tags based on Job Title">Save</button>
    </div>

  </div>

</div>
