<div class="container">
  <div class="text-center">
    <p class="lead">
      HR
    </p>
    <div class="row">
      <div class="col">
        <a [routerLink]="['/newjob']">
          <img width="100" alt="Winning Bids" src="assets/images/hired.png"/>
        </a>
        <div class="text-center lead">Post New Position</div>
      </div>
      <div class="col">
        <a [routerLink]="['/jobs']">
          <img width="100" alt="Active Jobs" src="assets/images/work-time.png" />
        </a>
        <div class="text-center lead">Active Jobs</div>
      </div>
      <div class="col">
        <a target="_blank" href="https://msit.powerbi.com/groups/me/reports/61e08fbf-5094-4ecb-bab7-f88372aa4282/ReportSection303ba204a19067523305?chromeless=true&experience=power-bi"><img width="100" alt="My Auctions" src="assets/images/shortlist.png"/></a>
        <div class="text-center lead">Resumé Analyzer</div>
      </div>
    </div>
  </div>
</div>
