<div class="container">
  <div class="text-center">
    <p class="lead">
      HR
    </p>
    <div class="row">
      <div class="col">
        <a [routerLink]="['/newjob']">
          <img width="100" alt="Winning Bids" src="assets/images/hired.png"/>
        </a>
        <div class="text-center lead">Post New Position</div>
      </div>
      <div class="col">
        <a [routerLink]="['/jobs']">
          <img width="100" alt="Active Jobs" src="assets/images/work-time.png" />
        </a>
        <div class="text-center lead">Active Jobs</div>
      </div>
      <div class="col">
        <a [routerLink]="['/jobs']"><img width="100" alt="My Auctions" src="assets/images/shortlist.png"/></a>
        <div class="text-center lead">Candidates List</div>
      </div>
    </div>
  </div>
</div>
