<div class="container">
  <div class="text-center">
    <p class="lead">
      HR
    </p>
    <div class="row">
      <div class="col">
        <a [routerLink]="['/jobs']">
          <img width="150" alt="Winning Bids" src="assets/images/createauction.png"/>
        </a>
        <div class="text-center lead">Post New Position</div>
      </div>
      <div class="col">
        <a [routerLink]="['/jobs']">
          <img width="150" alt="Active Jobs" src="assets/images/awarded.png" />
        </a>
        <div class="text-center lead">Active Jobs</div>
      </div>
      <div class="col">
        <a [routerLink]="['/jobs']"><img width="150" alt="My Auctions" src="assets/images/attribute2.png"/></a>
        <div class="text-center lead">Candidates List</div>
      </div>
    </div>
  </div>
</div>
