<div class="container">
  <div class="text-center">
    <!-- <p class="lead">
      Discover how AI Copilot can help you find the best talent for your company with its innovative and adventurous features.
    </p> -->
    <div class="row align-items-center">
      <div class="col">
        <a [routerLink]="['/jobs']">
          <img width="100" alt="Active Jobs" src="assets/images/job.png" />
        </a>
        <div class="text-center lead">Active Jobs</div>
      </div>
      <div class="col">
        <a [routerLink]="['/myapps']">
          <img
            width="100"
            alt="My Auctions"
            src="assets/images/application.png"
          />
        </a>
        <div class="text-center lead">My Applications</div>
      </div>
      <div class="col">
        <a [routerLink]="['/updateprofile']">
          <img
            width="100"
            alt="Winning Bids"
            src="assets/images/user.png"
          />
        </a>
        <div class="text-center lead">Update Profile</div>
      </div>
    </div>
  </div>
</div>
